Repository malvex/mcp-server-vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, validate-package-json

typescript:
  name: TypeScript type check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false
  require_serial: true

validate-package-json:
  name: Validate package.json
  entry: node -e "JSON.parse(require('fs').readFileSync('package.json'))"
  language: system

fix: convert line numbers to 1-based
  src/test/suite/debug.test.ts
  src/test/suite/diagnostics.test.ts
  src/tools/callHierarchy.ts
  src/tools/debug/evaluateExpression.ts
  src/tools/debug/getCallStack.ts
  src/tools/debug/inspectVariables.ts
  src/tools/debug/listBreakpoints.ts
  src/tools/debug/setBreakpoint.ts
  src/tools/debug/startDebugSession.ts
  src/tools/debug/toggleBreakpoint.ts
  src/tools/definition.ts
  src/tools/diagnostics.ts
  src/tools/hover.ts
  src/tools/refactor/rename.ts
  src/tools/references.ts
  src/tools/symbolSearch.ts
  src/tools/workspaceSymbols.ts
Due: typescript

refactor: remove position-based interfaces
  src/test/suite/definition-symbol.test.ts
  src/test/suite/references-symbol.test.ts
  src/tools/definition.ts
  src/tools/references.ts
Due: typescript

refactor: remove python fallback parser
  src/test/suite/workspaceSymbols-python.test.ts
  src/tools/workspaceSymbols.ts
Due: typescript

refactor: split debug tool by mcp patterns
  src/test/suite/debug.test.ts
  src/tools/debug.ts
  src/tools/debug/clearBreakpoints.ts
  src/tools/debug/debugStatus.ts
  src/tools/debug/index.ts
  src/tools/debug/listBreakpoints.ts
  src/tools/debug/listDebugConfigurations.ts
  src/tools/debug/setBreakpoint.ts
  src/tools/debug/startDebugSession.ts
  src/tools/debug/stopDebugSession.ts
  src/tools/debug/toggleBreakpoint.ts
  src/tools/index.ts
Due: typescript

refactor: replace position-based tools
  src/test/suite/refactor-fixed.test.ts
  src/test/suite/refactor-symbol-based.test.ts
  src/test/suite/refactor.test.ts
  src/tools/index.ts
  src/tools/refactor/extractMethod-v2.ts
  src/tools/refactor/extractMethod.ts
  src/tools/refactor/index.ts
  src/tools/refactor/rename-v2.ts
  src/tools/refactor/rename.ts
Due: typescript

perf: improve cold start for symbol tools
  src/tools/utils/symbolProvider.ts
Due: typescript

chore: clean up tests
  .gitignore
  src/test/suite/definition-symbol.test.ts
  src/test/suite/definition.test.ts
  src/test/suite/references-symbol.test.ts
  src/test/suite/references.test.ts
  src/test/suite/workspaceSymbols-basic.test.ts
  src/test/suite/workspaceSymbols-compact.test.ts
  src/test/suite/workspaceSymbols-default.test.ts
  src/test/suite/workspaceSymbols-fallback.test.ts
  src/test/suite/workspaceSymbols-filtering.test.ts
  src/test/suite/workspaceSymbols-noncode.test.ts
  src/test/suite/workspaceSymbols-python.test.ts
  src/test/suite/workspaceSymbols.test.ts
Due: typescript

refactor: make call hierarchy symbol-based
  src/test/suite/callHierarchy.test.ts
  src/tools/callHierarchy.ts
Due: typescript

refactor: rename debug tools with prefix
  src/test/suite/debug.test.ts
  src/test/suite/runtimeDebug.test.ts
  src/tools/debug/clearBreakpoints.ts
  src/tools/debug/continueExecution.ts
  src/tools/debug/debugStatus.ts
  src/tools/debug/evaluateExpression.ts
  src/tools/debug/getCallStack.ts
  src/tools/debug/index.ts
  src/tools/debug/inspectVariables.ts
  src/tools/debug/listBreakpoints.ts
  src/tools/debug/listDebugConfigurations.ts
  src/tools/debug/pauseExecution.ts
  src/tools/debug/setBreakpoint.ts
  src/tools/debug/startDebugSession.ts
  src/tools/debug/stepInto.ts
  src/tools/debug/stepOut.ts
  src/tools/debug/stepOver.ts
  src/tools/debug/stopDebugSession.ts
  src/tools/debug/toggleBreakpoint.ts
  src/tools/index.ts
Due: typescript

fix(execute): spawn dedicated terminals
  src/test/suite/executeCode.test.ts
  src/tools/executeCode.ts
  test-workspace/test_indented.py
Due: typescript

refactor: remove extract refactoring tools
  src/test/suite/refactor-symbol-based.test.ts
  src/tools/index.ts
  src/tools/refactor/extractMethod.ts
  src/tools/refactor/extractVariable.ts
  src/tools/refactor/index.ts
Due: typescript

chore: remove old testing command
  package.json
  src/extension.ts
Due: typescript, validate-package-json

feat: add github actions ci/cd
  .vscodeignore
Due: none

add github files
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  LICENSE
  README.md
  package-lock.json
  package.json
  src/mcp/standalone-server.ts
Due: typescript, validate-package-json

chore: add github files
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  LICENSE
  README.md
  package-lock.json
  package.json
  src/mcp/standalone-server.ts
Due: typescript, validate-package-json

Path conditions:
  typescript: any of: \.(ts|mts|cts)$, but not: (?x)^(
  out/|
  dist/|
  \.vscode-test/|
  node_modules/|
  .*\.vsix$|
  package-lock\.json$
)
  validate-package-json: any of: package\.json$, but not: (?x)^(
  out/|
  dist/|
  \.vscode-test/|
  node_modules/|
  .*\.vsix$|
  package-lock\.json$
)
